
  h1 {
    color : Crimson;
  }
 body{
   background-color: AntiqueWhite;
   text-align : center;
 }

  body{
    font-family: sans-serif;
  }
  img{
    border-radius: 5px;
    width: 300px;
  }

  body{
  font-size: 15px;
  }
